* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  background: none;
  outline: none;

  font-family: var(--font-primary);
}

input[type='checkbox'] {
  appearance: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;

  font-family: var(--font-primary);
}

:root {
  --almond: #eae0d5;
  --beige: #c6ac8f;
  --walnut: #5e503f;
  --gray: #b5aeae;
  --gunmetal: #366b94;
  --background: #382828;

  --font-primary: 'Ubuntu', sans-serif;
  --font-size-large: 2.8rem;
  --font-size-medium: 2.2rem;
  --font-size-small: 1.6rem;
}

.top-level-container {
  width: 100vw;
  height: 100vh;
  padding: 100px 0;

  background: var(--background);
}

.mobile-phone {
  width: 390px;
  height: 667px;
  padding: 60px 32px;
  margin: 0 auto;

  border-radius: 48px;

  background: var(--almond);

  font-family: var(--font-primary);
  font-style: normal;

  overflow: scroll;
}

.header {
  width: 100%;
  height: fit-content;
  margin-bottom: 4.8rem;

  display: flex;
  align-items: center;
}

.header-title {
  font-size: var(--font-size-large);
  font-weight: 700;
  color: var(--walnut);
}

.add-task-form {
  width: 100%;
  height: fit-content;
  margin-bottom: 3.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-task-input {
  width: 26rem;
  height: fit-content;
  padding: 1.2rem;

  border-radius: 8px;
  border: 1px solid var(--beige);

  font-size: 1.6rem;
  font-weight: 400;

  color: var(--walnut);

  &::placeholder {
    color: var(--gray);
  }
}

.add-task-button {
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 1.6rem;

  border-radius: 12px;
  border: 1px solid var(--beige);

  color: var(--walnut);

  box-shadow: -1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset,
    1px -1px 2px 0px rgba(187, 179, 170, 0.5) inset,
    1px 1px 2px 0px rgba(187, 179, 170, 0.2),
    -1px -1px 2px 0px rgba(187, 179, 170, 0.2),
    1px -1px 2px 0px rgba(255, 255, 255, 0.9),
    -1px 1px 3px 0px rgba(187, 179, 170, 0.9);
}

.task-list-container {
  width: 100%;
  height: fit-content;
  margin-bottom: 6.4rem;
}

.subtitle {
  margin-bottom: 1.8rem;

  font-size: var(--font-size-medium);
  font-weight: 500;
  color: var(--gunmetal);
}

.task-list {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.task-item {
  width: 100%;
  height: fit-content;
  padding: 1.4rem 1.6rem;

  display: flex;
  align-items: center;

  border-radius: 16px;

  background: transparent;

  overflow-x: scroll;
}

.to-do {
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset,
    -1px -1px 2px 0px rgba(129, 123, 117, 0.5) inset;
}

.task-checkbox {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0;
  margin-right: 1.4rem;

  border-radius: 4px;
  border: 2px solid var(--walnut);

  flex-shrink: 0;

  cursor: pointer;
}

.task-text {
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: 1.4;
  color: var(--walnut);
}
